<div class="row">
  <div class="col-sm-1 col-md-1 col-lg-1"></div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <h3>{{BusinessInfo.BusinessName}}</h3>
    <span>{{BusinessInfo.Address.Street}}</span>
    <br/>
    <span>{{BusinessInfo.Address.City}}, {{BusinessInfo.Address.Province}}, {{BusinessInfo.Address.PostalCode}}</span>
    <br/>
    <br/>
    <span><strong>Phone: </strong>{{BusinessInfo.Phone}}</span>
    <br/>
    <span><strong>Email: </strong>{{BusinessInfo.Email}}</span>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">

  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 pull-right">
    <br/>
    <span><strong>Date: {{Services.Date | amDateFormat: 'MM/DD/YYYY'}}</strong></span>
    <br />
  </div>
  <div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>
<br />
<br />
<br />
<div class="row">
  <div class="col-sm-1 col-md-1 col-lg-1"></div>
  <div>
    <form name="QuoteTitleForm" novalidate>
      <div class="form-group col-xs-3" ng-class="{'has-error':QuoteTitleForm.QuoteTitle.$pristine && QuoteTitleForm.QuoteTitle.$error.required}">
        <label for="QuoteTitle"><strong>Quote Title</strong>
        </label>
        <input type="text" class="form-control" ng-model="Services.Title" name="QuoteTitle" required/>
        <div ng-show="QuoteTitleForm.QuoteTitle.$pristine && QuoteTitleForm.QuoteTitle.$error.required">
          <span class="text-danger">Title is required to save</span>
        </div>
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1 pull-right"></div>
      <div class="pull-right">
        <input type="button" class="btn btn-primary hidden-print" value="Save" ng-click="saveQuote()" ng-disabled="QuoteTitleForm.$invalid || addingService" />
        <button class="btn btn-primary hidden-print" ng-click="print()">Print</button>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-sm-1 col-md-1 col-lg-1"></div>
  <div class="col-sm-10 col-md-10 col-lg-10">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="panel-title">New Quote</span>
      </div>
      <div class="panel-body">
        <form name="AddServiceForm" ng-submit="saveService" novalidate>
          <div class="form-group" ng-class="{'has-error':AddServiceForm.name.$touched && AddServiceForm.name.$error.required}">
            <div class="col-xs-12 form-group">
              <div class="col-sm-2">
                <label for="serviceName">Service</label>
                <select class="form-control" ng-options="serviceItem.Name for serviceItem in ServiceList" ng-model="Services.Service"></select>
                <div ng-show="AddServiceForm.serviceName.$touched && AddServiceForm.serviceName.$error.required">
                  <span class="text-danger">Service is required</span>
                </div>
              </div>
            </div>
            <div class="col-xs-12 form-group">
              <div class="col-sm-2">
                <label for="serviceQuantity">Number of Dogs</label>
                <input class="form-control" type="number" name="serviceQuantity" ng-model="Services.Quantity" required/>
                <div ng-show="AddServiceForm.serviceQuantity.$touched && AddServiceForm.serviceQuantity.$error.required">
                  <span class="text-danger">Service Quantity is required</span>
                </div>
              </div>
            </div>
            <div class="col-xs-12 form-group">
              <div class="col-sm-3">
                <label for="serviceStart">Start Date</label>
                <input type="date" class="form-control" ng-model="Services.StartDate" name="serviceStart" required/>
                <div ng-show="AddServiceForm.serviceStart.$touched && AddServiceForm.serviceStart.$error.required">
                  <span class="text-danger">Start Date is required</span>
                </div>
              </div>
              <div class="col-sm-3">
                <label for="serviceEnd">End Date</label>
                <input type="date" class="form-control" ng-model="Services.EndDate" name="serviceEnd" required/>
                <div ng-show="AddServiceForm.serviceEnd.$touched && AddServiceForm.serviceEnd.$error.required">
                  <span class="text-danger">End Date is required</span>
                </div>
              </div>
            </div>
            <div class="col-xs-12 form-group">
              <div class="col-sm-2">
                <span name="totalDays">Total Days: {{((Services.EndDate | amDifference : Services.StartDate : 'days') + 1) }}</span>
              </div>
            </div>
            <div class="col-xs-12 form-group">
              <div class="col-sm-2">
                <span ng-model="Services.Price" name="servicePrice">Price: ${{Services.Price = ((Services.Service.Value * Services.Quantity) * ((Services.EndDate | amDifference : Services.StartDate : 'days' ) + 1)) | number : 2}}</span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>
<div class="visable-print-block">
  <p>Please note that the Quote is only valid for the dog(s) mentioned,services proviced and for 30 days from the date the Quote was issued.</p>
</div>
