.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.flash-container .fade {
  display: none;
  z-index: 10000;
}

.flash-container .fade.in {
  position: relative;
  margin-bottom: 0;
  display: block;
}

.homework-description {
    height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.panel.panel-info .panel-heading a,
.panel.panel-danger .panel-heading a {
  color: white;
}

.margin-10 {
  margin-bottom: 10px;
}

i.fa {
  margin-right: 5px;
}

body {
  background-color: #999999;
  background-image: url("../images/background.png");
}

.cal-label {
  position: relative;
  top: -10px;
}

.footer {
  margin-top: 10px;
}

#main-container {
  background-color: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #CDCDCD;
  border-bottom-width: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media print{
  #main-container {
  background-color: #FFFFFF;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}
}

.nav-tabs {
  margin-bottom: 10px;
}

.badge {
  margin-left: 5px;
}

.print-whiteSpace {
  white-space: pre-wrap;
}

textarea.form-control {
  min-width: 100%;
  max-width: 100%;
}

@media print {
  @for $i from 1 through 12 {
      .col-print-#{$i} {
          width: #{percentage(round($i*8.33)/100)} !important;
          float: left !important;
      }
  }
}
