.fc-day {
  transition: .3s;
}

.fc-content {
  color: black;
}

.fc-day:hover {
  background-color: #BBDEFB;
  cursor: pointer;
}

.fc-event {
  transition: .3s;
}

.fc-event:hover {
  background-color: #1aaaaa;
}

.fc {
  min-height: 768px;
}

.fc-week {
  min-height: 170px !important;
}