<div class="col-xs-12">
  <button type="button" class="btn btn-warning col-xs-offset-10 col-xs-2" ng-click="reload()">Reload Calendar</button>
  <div class="clearfix col-xs-12">
  </div>
</div>
<div class="col-xs-12">
  <div ui-calendar="uiConfig.calendar" ng-model="eventSources" class="col-xs-12"></div>
</div>
<div class="form-group col-xs-12">
  <h4>Notes:</h4>
  <textarea rows="5" class="form-control" ngChange="SaveMonthNote(true)" ng-model="monthNote.Content"></textarea>
  <button type="button" ng-click="SaveMonthNote()" class="btn btn-primary pull-right">Save Note</button>
</div>
