<div class="row">
  <div class="col-md-2">
    <div sticky>
      <h1>June 2015</h1>
      <a class="btn btn-block btn-primary">Today</a>
    </div>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-10">
        <div class="col-sm-12">
          <h2>10th <small>Wednesday</small></h2>
        </div>
        <div class="col-sm-12">
          <dog-card></dog-card>
          <dog-card></dog-card>
          <dog-card></dog-card>
          <dog-card></dog-card>
          <dog-card></dog-card>
        </div>
      </div>
      <div class="col-md-2">
        <div class="panel panel-default">
          <div class="panel-heading">All Day</div>
          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-10">
        <div class="col-sm-12">
          <h2>11th <small>Thursday</small></h2>
          <span class="label label-danger cal-label">Today</span>
        </div>
        <div class="col-sm-12">
          <dog-card></dog-card>
          <dog-card></dog-card>
          <dog-card></dog-card>
          <dog-card></dog-card>
          <dog-card></dog-card>
          <dog-card></dog-card>
          <dog-card></dog-card>
          <dog-card></dog-card>
        </div>
      </div>
      <div class="col-md-2">
        <div class="panel panel-default">
          <div class="panel-heading">All Day</div>
          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-10">
        <div class="col-sm-12">
          <h2>12th <small>Friday</small></h2>
        </div>
        <div class="col-sm-12">
          <dog-card></dog-card>
          <dog-card></dog-card>
          <dog-card></dog-card>
        </div>
      </div>
      <div class="col-md-2">
        <div class="panel panel-default">
          <div class="panel-heading">All Day</div>
          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
            <li class="list-group-item">Vestibulum at eros</li>
            <li class="list-group-item">Vestibulum at eros</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-10">
        <div class="col-sm-12">
          <h2>13th <small>Saturday</small></h2>
        </div>
        <div class="col-sm-12">
          <dog-card></dog-card>
          <dog-card></dog-card>
          <dog-card></dog-card>
          <dog-card></dog-card>
        </div>
      </div>
      <div class="col-md-2">
        <div class="panel panel-default">
          <div class="panel-heading">All Day</div>
          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
            <li class="list-group-item">Vestibulum at eros</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-10">
        <div class="col-sm-12">
          <h2>14th <small>Sunday</small></h2>
        </div>
        <div class="col-sm-12">
          <dog-card></dog-card>
          <dog-card></dog-card>
          <dog-card></dog-card>
          <dog-card></dog-card>
        </div>
      </div>
      <div class="col-md-2">
        <div class="panel panel-default">
          <div class="panel-heading">All Day</div>
          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
          </ul>
        </div>
      </div>
    </div>
    <hr />
  </div>
