<div class="row">
  <div class=" col-xs-12">
    <h1>{{Title}}</h1>
  </div>
</div>
<div class="row">
 
 <!-- Expenses Panel -->
 
  <div class="col-lg-8 col-xs-12 col-md-8 col-sm-8">
    <div class="panel panel-info">
      <header class="panel-heading">
        <span class="panel-title">Expenditures</span>
        <a class="btn btn-xs btn-link pull-right" tooltip="Add" ng-click="addExpense()" ng-show="!addingExpense">
          <span class="fa fa-plus fa-2x" aria-hidden="true"></span>
        </a>
        <a class="btn btn-xs btn-link pull-right" tooltip="Cancel" ng-click="cancelExpense()" ng-show="addingExpense">
          <span class="fa fa-times fa-2x" aria-hidden="true"></span>
        </a>
      </header>
      <div class="panel-body">
        <div ng-show="!addingExpense">
          <table class="table table-striped">
            <tr>
              <th>Expense Name</th>
              <th>Expense Type</th>
              <th>Expense Description</th>
              <th>Expense Cost</th>
              <th>Expenditure Date</th>
            </tr>
            <tr ng-repeat="expense in ExpenseInfo">
              <td>{{expense.Name}}</td>
              <td>{{expense.Type}}</td>
              <td>{{expense.Description}}</td>
              <td>${{expense.Cost}}</td>
              <td>{{expense.Date | amCalendar}}</td>
            </tr>
          </table>
        </div>
        <div ng-show="addingExpense">
          <form name="addExpenseForm" ng-submit="saveExpense()" novalidate>
            <div class="form-group" ng-class="{'has-error':addExpenseForm.name.$touched && addExpenseForm.name.$error.required}">
              <label for="name">Expense Name</label>
              <input type="text" class="form-control" ng-model="newExpense.Name" name="name" required/>
              <div ng-show="addExpenseForm.name.$touched && addExpenseForm.name.$error.required">
                <span class="text-danger">Expense Name is required</span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error':addExpenseForm.type.$touched && addExpenseForm.type.$error.required}">
              <label for="type">Expense Type</label>
              <input type="text" class="form-control" ng-model="newExpense.Type" name="type" required/>
              <div ng-show="addExpenseForm.type.$touched && addExpenseForm.type.$error.required">
                <span class="text-danger">Expense Type is required</span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error':addExpenseForm.description.$touched && addExpenseForm.description.$error.required}">
              <label for="description">Expense Description</label>
              <input type="text" class="form-control" ng-model="newExpense.Description" name="description" required/>
              <div ng-show="addExpenseForm.description.$touched && addExpenseForm.description.$error.required">
                <span class="text-danger">Expense Description is required</span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error':addExpenseForm.cost.$touched && (addExpenseForm.cost.$error.required || addExpenseForm.cost.$error.pattern)}">
              <label for="cost">Expense Cost</label>
              <input type="text" class="form-control" ng-model="newExpense.Cost" name="cost" pattern='^(\d*\.{0,1}\d{0,2})' required/>
              <div ng-show="addExpenseForm.cost.$touched && addExpenseForm.cost.$error.required">
                <span class="text-danger">Expense Cost is required</span>
              </div>
              <div ng-show="addExpenseForm.cost.$touched && addExpenseForm.cost.$error.pattern">
                <span class="text-danger">Expense Cost can only be numeric and have two decimals</span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error':addExpenseForm.Date.$touched && addExpenseForm.Date.$error.required}">
              <label for="date">Expenditure Date</label>
              <input type="date" class="form-control" ng-model="newExpense.Date" name="date"  required/>
              <div ng-show="addExpenseForm.date.$touched && addExpenseForm.date.$error.required">
                <span class="text-danger">Expenditure Date is required</span>
              </div>
            </div>
            <div class="pull-right">
              <a class="btn btn-link" ng-click="cancelExpense()">Cancel</a>
              <input type="submit" class="btn btn-primary" ng-disabled="addExpenseForm.$invalid" value="Save"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Business Information Panel -->
  <div class="col-lg-4 col-xs-12 col-md-4 col-sm-4 pull-right">
    <div class="panel panel-default">
      <header class="panel-heading">
        <span class="panel-title">Information</span>
        <a class="btn btn-xs btn-link pull-right" ng-click="editInfo()" ng-show="!editingInfo" tooltip="Edit Info">
          <span class="fa fa-edit fa-2x" aria-hidden="true"></span>
        </a>
        <a href class="btn btn-xs btn-link pull-right" ng-click="cancelEdit()" ng-show="editingInfo" tooltip="Cancel">
          <span class="fa fa-times fa-2x" aria-hidden="true"></span>
        </a>
      </header>
      <div class="panel-body">
        <div ng-show="!editingInfo">
          <p>Business Name: {{BusinessInfo.BusinessName}}</p>
          <p>Address: &nbsp;{{BusinessInfo.Address.Street}}<br/>&emsp;&emsp;&emsp;&emsp;{{BusinessInfo.Address.City}} {{BusinessInfo.Address.Province}}, {{BusinessInfo.Address.PostalCode}}</p>
          <p>Phone: {{BusinessInfo.Phone}}</p>
          <p>Email: {{BusinessInfo.Email}}</p>
        </div>

        <div ng-show="editingInfo" >
          <form name="businessInfoForm" ng-submit="saveInfo()" novalidate>
            <div class="form-group" ng-class="{'has-error':businessInfoForm.businessName.$touched && businessInfoForm.businessName.$error.required}">
              <label for="businessName">Business Name</label>
              <input type="text" class="form-control" ng-model="editedInfo.BusinessName" name="businessName" required/>
              <div ng-show="businessInfoForm.businessName.$dirty && businessInfoForm.businessName.$error.required">
                <span class="text-danger">Business Name is Required</span>
              </div>
            </div>            
            <div class="form-group" ng-class="{'has-error':businessInfoForm.businessStreet.$touched && businessInfoForm.businessStreet.$error.required}">
              <label for="businessStreet">Street</label>
              <input type="text" class="form-control" ng-model="editedInfo.Address.Street" name="businessStreet" required/>
              <div ng-show="businessInfoForm.businessStreet.$dirty && businessInfoForm.businessStreet.$error.required">
                <span class="text-danger">Street Address is Required</span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error':businessInfoForm.businessStreet.$touched && businessInfoForm.businessStreet.$error.required}">
              <label for="businessCity">City</label>
              <input type="text" class="form-control" ng-model="editedInfo.Address.City" name="businessCity" required/>
              <div ng-show="businessInfoForm.businessCity.$dirty && businessInfoForm.businessCity.$error.required">
                <span class="text-danger">City is Required</span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error':businessInfoForm.businessProvince.$touched && businessInfoForm.businessProvince.$error.required}">
              <label for="businessProvince">Province</label>
              <input type="text" class="form-control" ng-model="editedInfo.Address.Province" name="businessProvince" required/>
              <div ng-show="businessInfoForm.businessProvince.$dirty && businessInfoForm.businessProvince.$error.required">
                <span class="text-danger">Province is Required</span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error':businessInfoForm.businessPostalCode.$touched && businessInfoForm.businessPostalCode.$error.required}">
              <label for="businessPostalCode">Postal Code</label>
              <input type="text" class="form-control" ng-model="editedInfo.Address.PostalCode" name="businessPostalCode" required/>
              <div ng-show="businessInfoForm.businessPostalCode.$dirty && businessInfoForm.businessPostalCode.$error.required">
                <span class="text-danger">Postal Code is Required</span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error':businessInfoForm.businessPhone.$touched && businessInfoForm.businessPhone.$error.required}">
              <label for="businessPhone">Phone</label>
              <input type="text" class="form-control" ng-model="editedInfo.Phone" name="businessPhone" required/>
              <div ng-show="businessInfoForm.businessPhone.$dirty && businessInfoForm.businessPhone.$error.required">
                <span class="text-danger">Phone Number is Required</span>
              </div>
            </div> 
            <div class="form-group" ng-class="{'has-error':businessInfoForm.businessEmail.$touched && businessInfoForm.businessEmail.$error.required}">
              <label for="businessName">Email</label>
              <input type="email" class="form-control" ng-model="editedInfo.Email" name="businessEmail" required/>
              <div ng-show="businessInfoForm.businessEmail.$dirty && businessInfoForm.businessEmail.$error.required">
                <span class="text-danger">Business Email is Required</span>
              </div>
             </div>
              <div class="pull-right">
              <a class="btn btn-link" ng-click="cancelEdit()">Cancel</a>
              <input type="submit" class="btn btn-primary" ng-disabled="businessInfoForm.$invalid" value="Save" />
            </div>       
          </form>
        </di>
      </div>
    </div>
  </div>

</div>