<!--  The Job list display, Hide if specific job is seleected-->
<div class="" id="JobListPanel">
  <div>
    <form action="jobFilterCtr" method="post">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Job name..." />
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </div>
      </div>
    </form>
  </div>
  <h1>Job List</h1>
  <!--  Add job list dynamically here, replace below content with loop  -->
  <div ng-repeat="job in JobList">

    <div class="col-xs-12 col-lg-4 panel">
      <h3>Job Name: {{job.Name}}</h3>
      <div ng-repeat="dog in job.Dogs">
        <img src="{{dog.PhotoURL}}" alt="" />
      </div>

      <h3>Address: {{job.Location.Street}}, {{job.Location.City}}, {{job.Location.PostalCode}}</h3>
      <h3>Date/Time Start:{{job.Calendars.StartDate}} </h3>
      <h3>Date/Time End: {{job.Calendars.StartDate}}</h3>
      <h3>Job Type: {{job.Jobtype.Name}}</h3>
      <a href=""><img src="http://loremflickr.com/200/200/map?random=1" alt="" />
      </a>
      <button class="btn">Go To Calander</button>
      <button class="btn">Create/View Invoice</button>
    </div>
    <h1>Job List</h1>
      <!--  Add job list dynamically here, replace below content with loop  -->
    <div ng-repeat="job in JobListTest">
  
      <div class="col-xs-12 col-lg-4 panel">     
        <h3>Job Name: {{job.Name}}</h3>
<!--        {{job}}-->
        <div ng-repeat="dog in job.Dogs">
          <img src="{{dog.PhotoURL}}" alt=""/>
        </div>
        
        <h3>Address: {{job.Location.Street}}, {{job.Location.City}}, {{job.Location.PostalCode}}</h3>
        <h3>Date/Time Start:{{job.Calendars.StartDate}} </h3>
        <h3>Date/Time End: {{job.Calendars.StartDate}}</h3>
        <h3>Job Type: {{job.Jobtype.Name}}</h3>
        <a href=""><img src="http://loremflickr.com/200/200/map?random=1" alt=""/></a>
        <button class="btn">Go To Calander</button>
        <button class="btn">Create/View Invoice</button>
     </div>
    </div>
  </div>
  
</div>
