<div class="conatainer">
  <h1 class="col-lg-12 col-xs-12">New Booking</h1>
  <div id="newJobFormLocaiton" class="col-lg-6 col-xs-12 panel">
    <form action="createJob" method="post" class="">
      <div class="form-group">
        <div class="input-group">
          <label for="jobTitle" class="control-label">Booking Title: </label>
          <input id="jobTitle" name="jobTitle" class="form-control" type="text"/>
        </div>
        <div class="input-group">
          <label for ="jobAddress" class="control-label">Booking Address: </label>
          <input id="jobAddress" name="jobAddress" class="form-control" type="text" required/>
        </div>
        <div class="input-group">
          <label for="jobType" class="control-label">Booking Type: </label>
          <select id="jobType" name="jobType"  class="form-control" >
            <option value="DayCare">Day Care</option>
            <option value="DayCare">Consultation</option>
            <option value="-">Other</option>
          </select>
          <input type="text" id="otherJobType" name ="otherJobType" class="form-control"  placeholder="Other"/>
        </div>
        <div class="input-group">
          <label for="jobStart">Booking Start</label>
          <input name="jobStart" type="datetime-local" class="form-control"  required/>
        </div>
        <div class="input-group">
            <label for="jobEnd">Booking End</label>
            <input name="jobEnd" type="datetime-local"  class="form-control" required/>
        </div>
      </div>
  <!--    Generate exising notes here -->
      <div name="dragDropDogArea" id="dogSelectionBox" class="col-xs-12 col-lg-12">
        <h2>Dog List</h2>
        <div ng-repeat="dogl in bookingDogs | orderBy:'Name'" class="col-xs-12 col-sm-6 col-md-4">
        <dog-card dog="dogl" ></dog-card>
        <button><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
      </div>
      </div>
  <!--    below hidden input houses the dragged dogs to send to server-->
      <input type="hidden" name="dogIdList"/> 

      <label for="newJobNotes" >Add Booking Notes</label>
      <textarea name="newJobNotes" class="form-control" />
      </br>
      <button type="submit" class="pull-right btn btn-lg">Create Job</button>
    </form>
  </div>

  <div id="dogListPanel" class="col-lg-6 col-xs-12 panel">
    <form action ="searchDogs" method="post" name="dogSearchForm">
      <label>Filter Dogs:</label>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Dog name..." />
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </div>
          </div>
        </div>
    </form>
    <div class="list-group">
      <div ng-repeat="dog in dogs | orderBy:'Name'" class="col-xs-12 col-sm-6 col-md-4">
        <dog-card dog="dog" ></dog-card>
        <button ng-click="bookDog(dog)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
      </div>
    </div>
  <!--  Generate a list of dogs that have images and names-->
  </div>
</div>