<div class="row">
 <div class="col-sm-1 col-md-1 col-lg-1"></div>
  <div class="col-xs-12 col-sm-11 col-md-11 col-lg-11 ">
    <h1>Quote</h1>
    <hr/>
  </div>
</div>
<div class="row">
 <div class="col-sm-1 col-md-1 col-lg-1"></div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <h3>{{BusinessInfo.BusinessName}}</h3>
    <span>{{BusinessInfo.Address.Street}}</span><br/>
    <span>{{BusinessInfo.Address.City}}, {{BusinessInfo.Address.Province}}, {{BusinessInfo.Address.PostalCode}}</span>
    <br/><br/>
    <span><strong>Phone: </strong>{{BusinessInfo.Phone}}</span><br/>
    <span><strong>Email: </strong>{{BusinessInfo.Email}}</span>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">

  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 pull-right">
    <br/>
    <span><strong>Date: {{Date | amDateFormat: 'MM/DD/YYYY'}}</strong></span><br />
  </div>
  <div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>
<br />
<br />
<br />
<div class="row">
  <div class="col-sm-1 col-md-1 col-lg-1"></div>
  <div class="col-sm-10 col-md-10 col-lg-10">
    <div class="panel panel-info">
      <div class="panel-heading">
        <span class="panel-title">Services</span>
        <a class="btn btn-xs btn-link pull-right" tooltip="Add" ng-click="addService()" ng-show="!addingService">
          <span class="fa fa-plus fa-2x" aria-hidden="true"></span>
        </a>
        <a class="btn btn-xs btn-link pull-right" tooltip="Cancel" ng-click="cancelService()" ng-show="addingService">
          <span class="fa fa-times fa-2x" aria-hidden="true"></span>
        </a>
      </div>
      <div class="panel-body">

      </div>
    </div>
  </div>
  <div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>