<div class="row">
  <div class="col-xs-12">
    <h1>
      {{dog.Name}}
      <small ng-show="dog.Deceased">
        (Deceased)
      </small>
    </h1>
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-lg-3">
    <div class="row">

      <div class="col-xs-12">
        <dog-info-panel dog="dog"></dog-info-panel>
      </div>

      <div class="col-xs-12">
        <weight-list dog="dog"></weight-list>
      </div>
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Homework <span ng-show="dog.Homeworks.length>0" class="badge pull-right">{{dog.Homeworks.length}}</span>
          </div>
          <div class="panel-body">
            <p>
              <div class="col-xs-12" ng-repeat="homework in dog.Homeworks| slice: pagination.limit:((pagination.currentPage-1)*pagination.limit) |orderBy: 'EndDate':true">
                {{homework.Title}}<a ng-href="#/homework/{{homework.id}}" class="btn btn-sm btn-default pull-right">View</a>
              </div>
            </p>
            <a ng-href="#/library/{{dog.Name}}">View All Homework For {{dog.Name}}</a>
            <pagination total-items="(dog.Homeworks).length" ng-model="pagination.currentPage" items-per-page="pagination.limit"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4 col-lg-6">
    <notes-panel notes="dog.Notes" on-notes-changed="updateNotes()" default-types="['Medical', 'Shots' ,'General', 'Behavioural','Client Care', 'Friends', 'Foes']"></notes-panel>
  </div>

  <div class="col-sm-4 col-lg-3">
    <div class="row">
      <div class="col-xs-12">
        <person-panel person="dog.Owner" person-updated="ownerUpdated" panel-title="Owner" panel-type="info" unlinkable="false"></person-panel>
      </div>

      <div class="col-xs-12">
        <person-panel person="dog.Vet" person-updated="vetUpdated" panel-title="Vet" panel-type="info"></person-panel>
      </div>

      <div class="col-xs-12">
        <person-panel person="dog.EmergencyContact" person-updated="emgContactUpdated" panel-title="Emergency Contact" panel-type="danger"></person-panel>
      </div>
    </div>
  </div>
</div>