<div class="row">
  <div class="col-xs-12">
    <h1>
      Dogs
    </h1>
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active"><a href="#/dogs">Dogs</a></li>
      <li role="presentation"><a href="#/people">People</a></li>
    </ul>
    <hr />
    <a href="#/dog/new" class="btn btn-primary btn-block" ng-click="addBtnClick()">Add Dog</a>
    <hr />
    <form>
      <label>Filter Dogs:</label>
      <div class="form-group">
        <div class="input-group">
          <input ng-model="searchDog" type="text" class="form-control" placeholder="Dog name..." />
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input ng-model="searchOwner" type="text" class="form-control" placeholder="Owner name..." />
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          </div>
        </div>
      </div>

      <label>Flags:</label>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="strict1"> Requires Shots
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="strict2"> Fees Outstanding
        </label>
      </div>
    </form>
  </div>
  <div class="col-xs-12 col-sm-9 col-md-9">
    <dog-card dog="dog" ng-repeat="dog in dogs | filter:searchDog:searchOwner | orderBy:'Name'"></dog-card>
  </div>
</div>
