<div class="row">
  <div class="col-xs-12">
    <h1>
      {{dog.Name}}
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-lg-3">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Info
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-3">
                <strong>Breed</strong>
              </div>
              <div class="col-xs-9">
                {{dog.Breed}}
              </div>
            </div>

            <div class="row">
              <div class="col-xs-3">
                <strong>Birthdate</strong>
              </div>
              <div class="col-xs-9">
                {{dog.Birthdate | date : 'longDate'}}
              </div>
            </div>

            <div class="row">
              <div class="col-xs-3">
                <strong>Age</strong>
              </div>
              <div class="col-xs-9">
                {{dog.Age}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <weight-list dog="dog"></weight-list>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-lg-6">
  </div>
  <div class="col-sm-4 col-lg-3">
    <div class="row">
      <div class="col-xs-12">
        <person-panel person="dog.Owner" person-updated="ownerUpdated" panel-title="'Owner'" panel-type="'info'" unlinkable="false"></person-panel>
      </div>

      <div class="col-xs-12">
        <person-panel person="dog.Vet" person-updated="vetUpdated" panel-title="'Vet'" panel-type="'info'"></person-panel>
      </div>

      <div class="col-xs-12">
        <person-panel person="dog.EmergencyContact" person-updated="emgContactUpdated" panel-title="'Emergency Contact'" panel-type="'danger'"></person-panel>
      </div>
    </div>
  </div>
</div>
