<div class="panel panel-{{panelType || 'default'}}">
  <div class="panel-heading">
    <a href tooltip="Unlink" tooltip-placement="right" class="hidden-print" ng-show="editMode && unlinkable && person" ng-click="unlinkPerson()">
      <i class="fa fa-chain-broken"></i>
    </a>
    {{panelTitle || 'Person'}}
    <div class="pull-right hidden-print">
      <div ng-hide="editMode || !person">
        <a href ng-click="enableEditMode()"  tooltip="Change {{panelTitle || 'Person'}}" tooltip-placement="left">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>
      </div>
      <div ng-show="editMode && person">
        <a href ng-click="disableEditMode()" tooltip="Cancel" tooltip-placement="left">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div ng-show="!editMode && person">
      <person-info person="person"></person-info>
    </div>
    <div ng-show="editMode || !person">
      <person-select-create selected-id="{{person.id}}" name="{{panelTitle}}" person-id-changed="personIdChanged"></person-select-create>
    </div>
  </div>
</div>
