.dog-card {
  width: 200px;
  display: block;
  float: left;
  margin: 5px;
  transition: background-color 0.5s ease;
}

.dog-card:hover {
  cursor: pointer;
  background-color: antiquewhite;
}

.dog-card .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
}

.dog-card .img-container img {
  max-height: 125px;
  max-width: 125px;
}

.dog-card .info-area {
  min-height: 100px;
}

.dog-card .action-btn {
  margin-top: 5px;
}

.dog-card .action-btn:hover {
  margin-top: 6px;
}