.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.flash-container .fade {
    display: none;
    z-index: 10000;
}

.flash-container .fade.in {
    position: relative;
    margin-bottom: 0;
    display: block;
}

.panel.panel-info .panel-heading a,
.panel.panel-danger .panel-heading a {
    color: white;
}


i.fa {
  margin-right: 5px;
}

body {
  background-color: #999999;
  background-image: url("/styles/img/background.png");
}

.cal-label {
    position: relative;
    top: -10px;
}

.footer {
  margin-top: 10px;
}

#main-container {
  background-color: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #CDCDCD;
  border-bottom-width: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
}
