.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.flash-container .fade {
    display: none;
    z-index: 10000;
}

.flash-container .fade.in {
    position: relative;
    margin-bottom: 0;
    display: block;
}

.panel.panel-info .panel-heading a,
.panel.panel-danger .panel-heading a {
    color: white;
}


i.fa {
  margin-right: 5px;
}
