#main {
    .landing-row {
        height: 15px;
    }
    .landing-image {
        max-height: 41vh;
    }
    .jumbo-background {
        background-color: #A0725E;
        color: white;
    }
    .second-background {
        background-color: #F3CAA8;
    }
    .pad-bottom {
        padding-bottom: 25px;
    }
}