<div class="panel panel-default">
  <div class="panel-heading">
    Notes
  </div>
  <div class="panel-body">
    <tabset>
      <tab ng-repeat="tab in tabs" active="tab.active" disable="tab.disabled">
        <tab-heading>
          {{tab.name}}
          <span class="badge" ng-show="tab.notes.length >= 1">{{tab.notes.length}}</span>
        </tab-heading>
        <div ng-show="tab.notes.length <= 0">
          <p>No Notes</p>
        </div>
        <div ng-repeat="note in tab.notes">
          <div class="note-panel note-controls">
            <a ng-click="removeNote(note)" class="btn btn-link"><i class="fa fa-trash-o"></i></a>
          </div>
          <form novalidate class="note-panel note-form">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="note.Title"/>
            </div>
            <div class="form-group">
              <textarea class="form-control" ng-model="note.Content" placeholder="content"/></textarea>
            </div>
          </form>
        </div>
        <a ng-click="addNote(tab)" class="btn btn-default">New</a>
        <a ng-click="saveAllNotes()" class="btn btn-primary pull-right" ng-show="showSaveBtn">Save</a>
      </tab>
    </tabset>
  </div>
</div>
