<div class="panel panel-default">
  <div class="panel-heading">
    Notes
  </div>
  <div class="panel-body">
    <tabset>
      <tab ng-repeat="tab in tabs" active="tab.active" disable="tab.disabled">
        <tab-heading>
          {{tab.name}}
          <span class="badge" ng-show="tab.notes.length >= 1">{{tab.notes.length}}</span>
        </tab-heading>
        <div ng-show="tab.notes.length <= 0">
          <p>No Notes</p>
        </div>
        <div ng-repeat="note in tab.notes" class="row">
          <div class="col-xs-12 col-sm-push-10 col-sm-2 col-lg-push-11 col-lg-1">
            <div class="row">
              <div class="col-sm-12">
                <a ng-click="removeNote(note)" class="pull-right btn btn-link"><i class="fa fa-trash-o"></i></a>
              </div>
            </div>
          </div>
          <form novalidate class="col-xs-12 col-sm-pull-2 col-sm-10 col-lg-pull-1 col-lg-11">
            <div class="row">
              <div class="form-group col-sm-12">
                <input type="text" class="form-control" ng-model="note.Title"/>
              </div>
              <div class="form-group col-sm-12">
                <textarea class="form-control" ng-model="note.Content" placeholder="content"/></textarea>
              </div>
            </div>
          </form>
        </div>
        <a ng-click="addNote(tab)" class="btn btn-default">New</a>
        <a ng-click="saveAllNotes()" class="btn btn-primary pull-right">Save</a>
      </tab>
    </tabset>
  </div>
</div>
