<div class="btn-group btn-group-justified">
  <label class="btn btn-default" ng-model="mode" btn-radio="'select'" uncheckable>Select</label>
  <label class="btn btn-default" ng-model="mode" btn-radio="'create'" uncheckable>Create</label>
</div>

<div ng-show="mode == 'select'">
  <hr />
  <form name="selectForm" ng-submit="selectFormSubmit()" novalidate>
    <div class="form-group" ng-class="{'has-error': (selectForm.personId.$touched || selectForm.$submitted) && selectForm.personId.$invalid}">
      <select class="form-control" name="personId" ng-model="selectedId" ng-options="person.id as person.Name for person in people" required></select>
      <div ng-show="selectForm.$submitted || selectForm.personId.$touched">
        <div ng-show="selectForm.personId.$error.required">Person is required</div>
      </div>
    </div>

    <input type="submit" class="btn btn-primary btn-block" value="Save" />
  </form>
</div>

<div ng-show="mode == 'create'">
  <hr />
  <person-edit-form person="newPerson" form-submit="createFormSubmit"></person-edit-form>
</div>
