<div class="btn-group btn-group-justified">
  <label class="btn btn-default" ng-model="mode" btn-radio="'select'" uncheckable>Select Person</label>
  <label class="btn btn-default" ng-model="mode" btn-radio="'create'" uncheckable>Create Person</label>
</div>

<div ng-show="mode == 'select'">
  <hr />
  <form name="selectForm" ng-submit="selectFormSubmit()" novalidate>
    <div class="form-group" ng-class="{'has-error': (selectForm.personId.$touched || selectForm.$submitted) && selectForm.personId.$invalid}">
      <select class="form-control" name="personId" ng-model="selectedId" required>
        <option value="{{existingPerson.id}}" ng-repeat="existingPerson in people">{{existingPerson.Name}}</option>
      </select>
      <div ng-show="selectForm.$submitted || selectForm.personId.$touched">
        <div ng-show="selectForm.personId.$error.required">Person is required</div>
      </div>
    </div>

    <input type="submit" class="btn btn-primary btn-block" value="Save" />
  </form>
</div>

<div ng-show="mode == 'create'">
  <hr />
  <form name="createForm" ng-submit="createFormSubmit()" novalidate>
    <div class="form-group" ng-class="{'has-error': (createForm.name.$touched || createForm.$submitted) && createForm.name.$invalid}">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" ng-model="newPerson.Name" required/>
      <div ng-show="createForm.$submitted || createForm.name.$touched">
        <div ng-show="createForm.name.$error.required">Name is required</div>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': (createForm.email.$touched || createForm.$submitted) && createForm.email.$invalid}">
      <label for="phone">email</label>
      <input type="email" class="form-control" name="email" ng-model="newPerson.Email" required/>
      <div ng-show="createForm.$submitted || createForm.email.$touched">
        <div ng-show="createForm.email.$error.required">Email is required</div>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': (createForm.phone.$touched || createForm.$submitted) && createForm.phone.$invalid}">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" name="phone" ng-model="newPerson.Phone" required/>
      <div ng-show="createForm.$submitted || createForm.phone.$touched">
        <div ng-show="createForm.phone.$error.required">Phone is required</div>
      </div>
    </div>

    <fieldset>
      <legend>Address</legend>

      <div class="form-group" ng-class="{'has-error': (createForm.street.$touched || createForm.$submitted) && createForm.street.$invalid}">
        <label class="control-label" for="street">Address</label>
        <input type="text" class="form-control" name="street" ng-model="newPerson.Address.Street" required/>
        <div ng-show="createForm.$submitted || createForm.street.$touched">
          <div ng-show="createForm.street.$error.required">Address is required</div>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': (createForm.City.$touched || createForm.$submitted) && createForm.City.$invalid}">
        <label class="control-label" for="City">City</label>
        <input type="text" class="form-control" name="City" ng-model="newPerson.Address.City" required/>
        <div ng-show="createForm.$submitted || createForm.City.$touched">
          <div ng-show="createForm.City.$error.required">City is required</div>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': (createForm.Province.$touched || createForm.$submitted) && createForm.Province.$invalid}">
        <label class="control-label" for="Province">Province</label>
        <input type="text" class="form-control" name="Province" ng-model="newPerson.Address.Provice" required/>
        <div ng-show="createForm.$submitted || createForm.Province.$touched">
          <div ng-show="createForm.Province.$error.required">Province is required</div>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': (createForm.Country.$touched || createForm.$submitted) && createForm.Country.$invalid}">
        <label class="control-label" for="Country">Country</label>
        <input type="text" class="form-control" name="Country" ng-model="newPerson.Address.Country" required/>
        <div ng-show="createForm.$submitted || createForm.Country.$touched">
          <div ng-show="createForm.Country.$error.required">Country is required</div>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': (createForm.PostalCode.$touched || createForm.$submitted) && createForm.PostalCode.$invalid}">
        <label class="control-label" for="PostalCode">Postal Code</label>
        <input type="text" class="form-control" name="PostalCode" ng-model="newPerson.Address.PostalCode" required/>
        <div ng-show="createForm.$submitted || createForm.PostalCode.$touched">
          <div ng-show="createForm.PostalCode.$error.required">Postal Code is required</div>
        </div>
      </div>
    </fieldset>

    <input type="submit" class="btn btn-primary btn-block" value="Save" />
  </form>
</div>
