<div class="btn-group btn-group-justified">
  <label class="btn btn-default" ng-model="mode" btn-radio="'select'" uncheckable>Select Existing Person</label>
  <label class="btn btn-default" ng-model="mode" btn-radio="'create'" uncheckable>Create New Person</label>
</div>

<div ng-show="mode == 'select'">
  <hr />
  <form name="selectForm">
    <div class="form-group">
      <select class="form-control">
        <option value="{{existingPerson.id}}" ng-repeat="existingPerson in people">{{existingPerson.Name}}</option>
      </select>
    </div>

    <input type="submit" class="btn btn-primary" value="Save" />
  </form>
</div>
<div ng-show="mode == 'create'">
  <hr />
  <form name="createForm" ng-submit="submitForm()" novalidate>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group" ng-class="{'has-error': (createFrom.name.$touched || createFrom.$submitted) && createFrom.name.$invalid}">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" ng-model="newPerson.Name" required/>
          <div ng-show="createFrom.$submitted || createFrom.name.$touched">
            <div ng-show="createFrom.name.$error.required">Name is required</div>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': (createFrom.email.$touched || createFrom.$submitted) && createFrom.email.$invalid}">
          <label for="phone">email</label>
          <input type="email" class="form-control" name="email" ng-model="newPerson.Email" required/>
          <div ng-show="createFrom.$submitted || createFrom.email.$touched">
            <div ng-show="createFrom.email.$error.required">Email is required</div>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': (createFrom.phone.$touched || createFrom.$submitted) && createFrom.phone.$invalid}">
          <label for="phone">Phone</label>
          <input type="text" class="form-control" name="phone" ng-model="newPerson.Phone" required/>
          <div ng-show="createFrom.$submitted || createFrom.phone.$touched">
            <div ng-show="createFrom.phone.$error.required">Phone is required</div>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': (createFrom.street.$touched || createFrom.$submitted) && createFrom.street.$invalid}">
          <label class="control-label" for="street">Address</label>
          <input type="text" class="form-control" name="street" ng-model="newPerson.Address.Street" required/>
          <div ng-show="createFrom.$submitted || createFrom.street.$touched">
            <div ng-show="createFrom.street.$error.required">Address is required</div>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': (createFrom.City.$touched || createFrom.$submitted) && createFrom.City.$invalid}">
          <label class="control-label" for="City">City</label>
          <input type="text" class="form-control" name="City" ng-model="newPerson.Address.City" required/>
          <div ng-show="createFrom.$submitted || createFrom.City.$touched">
            <div ng-show="createFrom.City.$error.required">City is required</div>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': (createFrom.Province.$touched || createFrom.$submitted) && createFrom.Province.$invalid}">
          <label class="control-label" for="Province">Province</label>
          <input type="text" class="form-control" name="Province" ng-model="newPerson.Address.Provice" required/>
          <div ng-show="createFrom.$submitted || createFrom.Province.$touched">
            <div ng-show="createFrom.Province.$error.required">Province is required</div>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': (createFrom.Country.$touched || createFrom.$submitted) && createFrom.Country.$invalid}">
          <label class="control-label" for="Country">Country</label>
          <input type="text" class="form-control" name="Country" ng-model="newPerson.Address.Country" required/>
          <div ng-show="createFrom.$submitted || createFrom.Country.$touched">
            <div ng-show="createFrom.Country.$error.required">Country is required</div>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': (createFrom.PostalCode.$touched || createFrom.$submitted) && createFrom.PostalCode.$invalid}">
          <label class="control-label" for="PostalCode">Postal Code</label>
          <input type="text" class="form-control" name="PostalCode" ng-model="newPerson.Address.PostalCode" required/>
          <div ng-show="createFrom.$submitted || createFrom.PostalCode.$touched">
            <div ng-show="createFrom.PostalCode.$error.required">Postal Code is required</div>
          </div>
        </div>

        <input type="submit" class="btn btn-primary" value="Save" />
      </div>
    </div>
  </form>
</div>
