<div class="row">
  <div class="col-xs-4">
    <strong>Name</strong>
  </div>
  <div class="col-xs-8">
    {{person.Name}}
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <strong>Email</strong>
  </div>
  <div class="col-xs-8">
    {{person.Email}}
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <strong>Phone</strong>
  </div>
  <div class="col-xs-8">
    {{person.Phone}}
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <strong>Address</strong>
  </div>
  <div class="col-xs-8">
    {{person.Address.Street}}<br />
    {{person.Address.City}}<br />
    {{person.Address.Province}}<br />
    {{person.Address.Country}}<br />
    {{person.Address.PostalCode}}
  </div>
</div>

