<div class="panel panel-default weight-list">
	<div class="panel-heading">
		Weights
	</div>
	<div class="list-group">
		<div class="list-group-item">
			<form>
				<div class="form-group">
					<div class="input-group">
						<input type="number" class="form-control" ng-disabled="processing" placeholder="weight" ng-model="newWeight.Weight">
						<span class="input-group-addon">lb</span>
						<span class="input-group-btn">
							<button class="btn btn-primary" ng-disabled="processing" type="button" ng-click="addBtnClick()">Add</button>
						</span>
					</div>
				</div>
			</form>
		</div>
		<div class="list-group-item" ng-repeat="weight in dog.Weights | orderBy : convertDateTakenToDate : true | limitTo : 5">
			<div class="row">
				<div class="col-xs-12">
					<strong>Date Taken:</strong>
					{{weight.DateTaken | date : "longDate"}}
				</div>
				<div class="col-xs-12">
					<strong>Weight:</strong>
					{{weight.Weight}} lb
				</div>
			</div>
		</div>
		<div class="list-group-item paging-btns">
			<ul class="pager">
			    <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
			    <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
			</ul>
		</div>
	</div>
</div>
