<!--  The Job list display, Hide if specific job is seleected-->
<div class="" id="JobListPanel">
  <div>
    <form action="jobFilterCtr" method="post">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Job name..." />
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </div>
      </div>
    </form>
  </div>
  <h1>Job List</h1>
  <!--  Add job list dynamically here, replace below content with loop  -->
  <div ng-repeat="job in JobList">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{job.Name}} - {{job.Jobtype.Name}}</h3>
      </div>
      <div class="panel-body">
        <div class="col-xs-3">
          <h4>Start Date: {{job.Calendars.StartDate | amCalendar}}</h4>
          <h4>End Date: {{job.Calendars.EndDate | amCalendar}}</h4>
          <div class="panel panel-primary" ng-repeat="note in job.Notes">
            <div class="panel-heading">
              <h3 class="panel-title">{{note.Title}}</h3>
            </div>
            <div class="panel-body">
              <p>{{note.Content}}</p>
            </div>
          </div>
        </div>
        <dog-card dog="dog" ng-repeat="dog in job.Dogs | filter:searchDog | filter:searchOwner | orderBy:'Name'"></dog-card>
        <div class="col-xs-12">
          <a class="btn btn-primary margin-10 pull-right" href="#/jobs/{{job.id}}">View Booking</a>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="JobList.length < 1">
    <h2 ng-if="!isLoading">No bookings are in today</h2>
    <i ng-if="isLoading" class="fa fa-spin fa spinner fa-4x"></i>
  </div>

</div>